body {
  color: red;
  min-height: 1000px;
  html.krtp-rwd & { color: blue; }
}
#krtp-toolbar *,
#krtp-toolbar {
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  background: none;
  color: black;
  text-align: left;
  text-shadow: none;
  text-decoration: none;
  border: 0;
}
#krtp-toolbar * {
  color: inherit;
}
#krtp-toolbar {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 1000;
  opacity: 1;
  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;

&.muted {
  opacity: .2;
  background: none;
}
&.expanded {
  opacity: 1;
}

  #krtp-watermark {
    width: 100%;
    padding: .5em 0;
  }
  &.muted #krtp-watermark,
  &.muted #krtp-content {
    background: none;
  }

  #krtp-content {
    display: none;
    color: #FFF;
  }
  &.expanded #krtp-content {
    padding: 1em;
    display: block;
    background: #600;
    color: #FFF;
  }

  #krtp-logo {
    display: block;
    max-width: 100%;
    width: 3em;
    margin: 0 auto;
  }

  #krtp-citations {
    position: relative;
  }
  #krtp-citations dt {
    position: absolute;
    top: 0;
  }
  #krtp-btn {
    left: 0;
    width: 30%;
  }
  #krtp-mla-btn {
    left: 33%;
    width: 30%;
  }
  #krtp-apa-btn {
    left: 66%;
    width: 30%;
  }

  #krtp-citations dd {
    display: none;
  }
  #krtp-citations dd.active {
    padding-top: 2em;
    display: block;
  }

}
